<div class="container">
  <h2>Trips</h2>
  <button class="btn btn-success" routerLink="/trip/create">Create</button>
  <div class="space" >
      <div class="text-center newtrip col-lg-4 col-md-6 col-sm-12" *ngFor="let trip of trips">
          <div class="container card">
              <div class="card-header">
                  {{trip.startCity}} - {{trip.endCity}}
              </div>
              <div class="card-body">
              <h5 class="card-title">$ {{trip.ticketAmount}} </h5>
              <div>
                  <p class="card-text col-6">Trip date</p>
                  <p class="card-text col-6">{{trip.tripDate}}</p>
              </div>
              <div>
                  <p class="card-text col-6">Available Seats</p>
                  <p class="card-text col-6">{{trip.seatsAvailable}}</p>
              </div>
              <div>
                  <p class="card-text col-6">Driver</p>
                  <p class="card-text col-6">{{trip.idDriver}}</p>
              </div>
              </div>
              <div class="row space-bottom">
                  <div class="col-12 space-bottom  center">
                  <form  (ngSubmit)="onCreate( f, trip.id )" #f="ngForm">
                      <input type="text" placeholder="Number of tickets" name="numberPurchasedTickets" (ngModel)="purchase.numberPurchasedTickets" class="space-bottom" autocomplete="off" required/>
                      <span class="txt-error space-bottom" *ngIf="f.submitted && f.controls['numberPurchasedTickets'].errors?.required">Ticket cost is mandatory</span>
                      <input type="submit" class="btn btn-success total" value="Buy tickets"/>
                  </form>
                  </div>
                  <div class="center-content col-6 inline center">
                      <button class="btn btn-primary">Update</button>
                  </div>
                  <div class="center-content col-6 inline center">
                      <button class="btn btn-danger " (click)="onDelete(trip.id)" >Delete</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
